<footer class="text-center text-lg-start bg-light text-muted">
    <div class="d-none newsletter container p-4 pb-0">
        <form action="">
            <div class="col-auto mb-4 mb-md-0">
                <p class="lead pt-2">
                    <strong>Abonnez-vous a notre newsletter</strong>
                </p>
            </div>
            <div class="row">

                <div class="col-md-5 col-12 mb-4 mb-md-0">
                    <div class="form-outline mb-4">
                        <input type="email" id="form5Example25" class="form-control" />
                        <label class="form-label" for="form5Example25">Email address</label>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary mb-4">
                        S'abonner
                    </button>
                </div>
            </div>
        </form>
    </div>
    <section class="d-none social-media d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Restez branche en nous suivant sur les reseaux sociaux:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>

    <section class="footer-links p-3 pt-5 bg-light">
        <div class="container text-center text-md-start">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <label class="fs-4 fw-bold mb-3">
                        <i class="d-none fas fa-gem me-3"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <path
                                d="M6 11l1-4h10l1 4m.92-5c-.21-.6-.78-1-1.42-1h-11c-.64 0-1.21.4-1.42 1L3 12v8a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2h12v2a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-8l-2.08-6M7 16H5v-2h2v2m12 0h-2v-2h2v2m-5 0h-4v-2h4v2z"
                                fill="currentColor"></path>
                        </svg>
                        <span class="align-text-top">
                            Vautoor
                        </span>
                    </label>
                    <p>
                        Here you can use rows and columns to organize your footer content.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <div class="d-flex flex-column">
                        <a href="#!" class="text-reset">Angular</a>
                        <a href="#!" class="text-reset">React</a>
                        <a href="#!" class="text-reset">Vue</a>
                        <a href="#!" class="text-reset">Laravel</a>
                    </div>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <div class="d-flex flex-column">
                        <a href="#!" class="text-reset">Angular</a>
                        <a href="#!" class="text-reset">React</a>
                        <a href="#!" class="text-reset">Vue</a>
                        <a href="#!" class="text-reset">Laravel</a>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <div class="d-flex flex-column">
                        <label>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8h5z" fill="currentColor"></path>
                            </svg>
                            <span class="ps-1 align-text-top">
                                Sidi Bel Abbes, SBA 22000, DZ
                            </span>
                        </label>
                        <label>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path
                                    d="M20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"
                                    fill="currentColor"></path>
                            </svg>
                            <span class="ps-1 align-text-top">
                                info@brand.com
                            </span>
                        </label>
                        <label>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" class="iconify iconify--ic" width="20" height="20"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path
                                    d="M19.23 15.26l-2.54-.29a1.99 1.99 0 0 0-1.64.57l-1.84 1.84a15.045 15.045 0 0 1-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52a2.001 2.001 0 0 0-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07c.53 8.54 7.36 15.36 15.89 15.89c1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z"
                                    fill="currentColor"></path>
                            </svg>
                            <span class="ps-1 align-text-top">
                                + 213 234 567 88
                            </span>
                        </label>
                        <label>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20"
                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path
                                    d="M11 6h5v2h-5V6M8 9V3h11v6a3 3 0 0 1 3 3v6h-3v3H8v-3H7V9h1m2-4v4h7V5h-7m0 10v4h7v-4h-7m9-4a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1M4 9h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2z"
                                    fill="currentColor"></path>
                            </svg>
                            <span class="ps-1 align-text-top">
                                021 75 21 00
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <strong>
            Vautoor © 2022
        </strong>
    </div>
</footer>