<nav class="navbar navbar-expand-lg px-md-5 navbar-light bg-light">
    <div class="container-fluid">

        <button class="btn p-0 me-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
            aria-controls="offcanvasWithBackdrop">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--fe" width="30" height="30" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24">
                <path
                    d="M16 16h4v4h-4v-4zm-6 0h4v4h-4v-4zm-6 0h4v4H4v-4zm12-6h4v4h-4v-4zm-6 0h4v4h-4v-4zm-6 0h4v4H4v-4zm12-6h4v4h-4V4zm-6 0h4v4h-4V4zM4 4h4v4H4V4z"
                    fill="currentColor" fill-rule="evenodd"></path>
            </svg>
        </button>

        <a class="navbar-brand fs-3 d-inline-block me-auto" href="#">
            <span class="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24">
                    <path
                        d="M6 11l1-4h10l1 4m.92-5c-.21-.6-.78-1-1.42-1h-11c-.64 0-1.21.4-1.42 1L3 12v8a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2h12v2a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-8l-2.08-6M7 16H5v-2h2v2m12 0h-2v-2h2v2m-5 0h-4v-2h4v2z"
                        fill="currentColor"></path>
                </svg>
            </span>
            <span class="ps-1 align-text-baseline">Vautoor</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            menu <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ci" width="32" height="32" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24">
                <g fill="none">
                    <path d="M21 16H3v-2h18v2zm0-6H3V8h18v2z" fill="currentColor"></path>
                </g>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <a href="/ads/new" class="btn btn-danger me-3 ms-auto mt-3 mt-lg-0">Deposer une annonce</a>
            <ul class="navbar-nav me-0 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ads">Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                </li>
                <li class="nav-item dropdown d-flex">
                    <div>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            A. Mohammed
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="/myads">Mes Annonces</a></li>
                            <li><a class="dropdown-item" href="/profile">Mon Profil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Se deconnecter</a></li>
                        </ul>
                    </div>
                    <img style="max-height: 40px" class="ms-3 rounded w-auto obj-fit-cover"
                        src="https://lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg" />
                </li>
            </ul>
        </div>
    </div>
</nav>