:root {
    --dark-color: #080808;
    --dark-color-rgb: 8, 8, 8;
    --light-color: #fbf9f6;
    --light-color-rgb: 248, 248, 248;
    --accent-color: #012679;
    --accent-color-rgb: 1, 38, 121;
    --accent-color-light: #99ccec;
    --accent-color-light-rgb: 153, 204, 236;
    --link-color: #00A3FF;
    --link-color-rgb: 0, 163, 255;
    --bs-primary-rgb: 13, 110, 253;
    --bs-danger-rgb: 220, 53, 69;
    --lg-breakpoint: 992px;
    --md-breakpoint: 768px;
    --sm-breakpoint: 556px;
    /* --bs-breadcrumb-divider: "-"; */
}

/* Overwrite Bootstrap CSS */

/* NAVBAR */
.navbar {
    height: 75px;
    z-index: 100;
    background-color: white;
}

.navbar div {
    /* background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important; */
}

.navbar-toggler {
    border: none !important;
    color: black !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/* CAROUSEL */
.carousel-item {
    max-height: 500px;
}

@media screen and (min-width: 992px) {
    .carousel-item {
        height: calc(100vh - 75px);
        max-height: 800px;
    }
}

/* BUTTONS, FORMS, BREADCRUMB */

.btn,
.form-control {
    font-size: 14px !important;
    border-radius: .5rem !important;
    padding: 10px 24px !important;
}

.btn:focus {
    box-shadow: none !important;
}

.form-label,
.form-check-label {
    font-weight: 600;
    font-size: 14px;
}

.form-control {
    border: none !important;
    outline: none !important;
    background-color: rgba(var(--accent-color-light-rgb), .15) !important;
}

.form-control:focus {
    box-shadow: none !important;
    background-color: rgba(var(--accent-color-light-rgb), .3) !important;
}

.form-control.is-invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F1416C'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F1416C' stroke='none'/%3e%3c/svg%3e");
    /* background-position: right calc(0.375em + 0.375rem) center; */
    /* background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem); */
}

.form-check-input:checked {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

.form-check-input:focus {
    box-shadow: none !important;
}

.breadcrumb-item.active {
    /* font-weight: 600 !important; */
    /* font-size: 13px !important; */
    color: var(--dark-color) !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    position: relative;
    top: 3px;
    font-size: 13px;
}

/* DROPDOWNS */

@media screen and (max-width: 576px) {
    .search-dropdown.dropdown-menu-end {
        right: -80px !important;
    }  

    .notifications-dropdown.dropdown-menu-end {
        right: -50px !important;
    }   
} 


.dropdown .dropdown-menu{
    animation-name: dropdownAnim; 
    animation-duration: .3s;
}

@keyframes dropdownAnim {
    from {
        opacity:.1;
        transform: translateY(12px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.form-check-input, .form-check-label {
    cursor: pointer;
}

.simple-accordion .accordion-item {
    padding: 0 !important;
    border: 0 !important;
}

.simple-accordion .accordion-item button {
    padding: 0 !important;
}



/* --------------------------------------------- */
/* My Utility Classes */

.rounded-lg {
    border-radius: .5rem !important;
}

.rounded-circle {
    border-radius: 25rem !important;
}

.shadow-xl {
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 5%);
}

.obj-fit-cover {
    object-fit: cover;
}

.fs-7 {
    font-size: 14px !important;
}

.fs-8 {
    font-size: 13px !important;
}

.fs-9 {
    font-size: 12px !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.bottom-0 {
    bottom: 0;
}

.bg-semilight {
    background-color: #eee;
}

.clickable-row {
    cursor: pointer;
}

.red {
    background-color: rgba(255, 0, 0, .3) !important;
}

.green {
    background-color: rgba(0, 255, 0, .3);
}

.blue {
    background-color: rgba(0, 0, 255, .3);
}

.text-muted-lg {
    color: rgba(var(--dark-color-rgb), .4) !important;
}

@media screen and (min-width: 992px) {
    .overflow-y-lg-scroll {
        overflow-y: scroll !important;
    }

    .vh-lg-100 {
        height: 100vh !important;
    }
}

/* My Custom CSS */

html,
body {
    background-color: var(--light-color) !important;
    /* margin-top: 80px !important; */
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .001em;
    -webkit-font-smoothing: antialiased;
    transition: all ease-in-out .20s !important;
}

.custom-nav a {
    text-decoration: none;
    color: black;
}

.custom-nav a:hover {
    text-decoration: none;
    color: black;
    background-color: #eee;
}

.custom-nav .active {
    background-color: #eee !important;
}

.illustration {
    position: absolute;
    /* top: 200px; */
    bottom: 0;
    width: 67%;
}

.auth-left {
    min-height: 100vh;
}

.ads .content .card {
    border: rgba(var(--accent-color-rgb), .05) solid 2px !important;
}

.ads .content .card:hover {
    border: rgba(var(--accent-color-rgb), .1) solid 2px !important;
    background-color: rgba(var(--accent-color-rgb), .001);
}

.new-ad-btn {
    bottom: 16px;
    right: 16px;
}

@media screen and (max-width: 992px) {
    .auth-left {
        min-height: 67vw;
    }

    .illustration {
        width: 30%;
    }
}

#searchInput {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBhcmlhLWhpZGRlbj0idHJ1ZSIgcm9sZT0iaW1nIiBjbGFzcz0iaWNvbmlmeSBpY29uaWZ5LS1ieCIgd2lkdGg9IjFlbSIgaGVpZ2h0PSIxZW0iIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwIDE4YTcuOTUyIDcuOTUyIDAgMCAwIDQuODk3LTEuNjg4bDQuMzk2IDQuMzk2bDEuNDE0LTEuNDE0bC00LjM5Ni00LjM5NkE3Ljk1MiA3Ljk1MiAwIDAgMCAxOCAxMGMwLTQuNDExLTMuNTg5LTgtOC04cy04IDMuNTg5LTggOHMzLjU4OSA4IDggOHptMC0xNGMzLjMwOSAwIDYgMi42OTEgNiA2cy0yLjY5MSA2LTYgNnMtNi0yLjY5MS02LTZzMi42OTEtNiA2LTZ6IiBmaWxsPSJjdXJyZW50Q29sb3IiPjwvcGF0aD48L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: 6% 50%;
    background-size: 1rem;
    /* background-position: right calc(0.375em + 0.375rem) center; */
    /* background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem); */
}


/* PROFILE DROPDOWN-MENU */

.dropdown-menu {
    width: 350px;
}

.admin-dropdown .col-6, .profile-dropdown .col-6 {
    height: 100px;
}

.admin-dropdown a, .profile-dropdown a, .notifications-dropdown a, .search-dropdown a {
    color: var(--dark-color);
    text-decoration: none;
    transition: .1s !important;
}

.admin-dropdown a:hover, .profile-dropdown .links .col-6 a:hover, .notifications-dropdown a:hover, .search-dropdown a:hover {
    background-color: rgba(var(--accent-color-rgb), .05);
    color: currentColor;
}


.profile-dropdown .links .col-6:nth-child(1) {
    border: 1px solid #eff2f5;
    border-top: none;
    border-left: none;
}

.profile-dropdown .links .col-6:nth-child(2) {
    border: 1px solid #eff2f5;
    border-top: none;
    border-right: none;
}

.profile-dropdown .links .col-6:nth-child(3) {
    border: 1px solid #eff2f5;
    border-bottom: none;
    border-left: none;
}

.profile-dropdown .links .col-6:nth-child(4) {
    border: 1px solid #eff2f5;
    border-bottom: none;
    border-right: none;
}



/* Theme */

.text-accent {
    color: var(--accent-color) !important;
}

.text-accent-light {
    color: var(--accent-color-light) !important;
}

.bg-accent {
    background-color: var(--accent-color) !important;
}

.bg-dark-15 {
    background-color: rgba(var(--dark-color-rgb), .05) !important;
}

.bg-accent-light {
    background-color: var(--accent-color-light) !important;
}

.btn-accent {
    background-color: var(--accent-color) !important;
    color: white !important;
}

.btn-accent-light {
    background-color: var(--accent-color-light) !important;
}

.btn-accent-outline-light {
    background-color: rgba(var(--accent-color-light-rgb), .3) !important;
}

.btn-accent-outline-light:hover {
    background-color: rgba(var(--accent-color-light-rgb), 1) !important;
}

.btn-accent:hover {
    background-color: rgba(var(--accent-color-rgb), .9) !important;
}

.btn-accent-light:hover {
    filter: brightness(0.9);
}

.btn-cta {
    font-weight: 600 !important;
}

.btn-link {
    color: var(--dark-color) !important;
    text-decoration: none !important;
    background-color: rgba(var(--dark-color-rgb), .015) !important;
}

@media screen and (max-width: 576px) {
    .btn-link {
        padding: 10px 14px !important;
    }
}

.btn-link:hover,
.btn-link.active {
    background-color: rgba(var(--dark-color-rgb), .04) !important;
    color: var(--accent-color) !important;
}

.link-container {
    text-decoration: none;
    color: currentColor;
}

.link-container:hover {
    color: currentColor;
}

.link-accent, .link-accent-light {
    text-decoration: none;
    color: var(--dark-color);
}

.link-accent-light:hover {
    color: var(--accent-color-light) !important;
}

.link-accent:hover {
    color: var(--accent-color) !important;
}

.link-image:hover {
    opacity: .9;
}

.btn-google {
    background-color: rgba(var(--bs-danger-rgba), .5) !important;
    color: var(--link-color) !important;
    border: none !important;
}

.btn-facebook {
    background-color: rgba(var(--bs-primary-rgba), .05) !important;
    color: var(--link-color) !important;
    border: none !important;
}

.btn-google:hover {
    background-color: rgba(var(--bs-danger-rgba), 1) !important;
    color: var(--light-color) !important;
}

.btn-facebook:hover {
    background-color: rgba(var(--bs-primary-rgba), 1) !important;
    color: var(--light-color) !important;
}

.ad-link {
    text-decoration: none !important;
}