<%- include('../base/base-head'); -%>
    <%- include('../../components/navbar'); -%>

        <div class="p-3 p-md-5">
            <!-- TOP NAV -->
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="d-flex flex-column align-items-center align-items-md-start">
                        <h5 class="fw-semibold">Compte</h5>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="fw-semibold fs-8 link-accent text-muted-lg"
                                        href="/">Acceuil</a></li>
                                <li class="breadcrumb-item"><a class="fw-semibold fs-8 link-accent text-muted-lg"
                                        href="/profile">Profile</a></li>
                                <li class="breadcrumb-item active text-align-bottom" aria-current="page">
                                    <span class="fs-8">Compte</span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-12 col-md-8 my-3 my-md-0">
                    <nav class="d-flex justify-content-center justify-content-md-end">
                        <a class="btn btn-cta btn-link me-1" href="/info">General</a>
                        <a class="btn btn-cta btn-link me-1 active" href="/profile">Compte</a>
                        <a class="btn btn-cta btn-link me-1" href="/myads">Mes Annonces</a>
                    </nav>
                </div>
            </div>
            <div class="col-12 p-3 p-md-5 bg-white rounded-lg shadow-xl">
                <!-- Compte template -->
                <form class="offset-md-2 col-md-8 p-1 p-sm-5">
                    <div class="row align-items-start mb-3">
                        <label for="usernameInput" class="form-label fw-medium fs-7 col-lg-3">Nom d'utilisateur</label>
                        <div class="col-lg-9">
                            <div class="accordion simple-accordion" id="usernameAccordion">
                                <div class="accordion-item">
                                    <div class="d-flex justify-content-between">
                                        <span class="fs-7 fw-semibold">morch23mj</span>
                                        <button class="btn fw-semibold text-accent" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Changer
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#usernameAccordion">
                                        <div class="accordion-body mt-3 p-0">
                                            <input placeholder="Nom d'utilisateur" type="text"
                                                class="form-control" id="usernameInput">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="d-none offset-lg-3 col-lg-9 mt-1 fs-7 text-danger">
                            Nom d'utilisateur est deja utilise
                        </span>
                    </div>
                    <div class="row align-items-center mb-3">
                        <label for="emailInput" class="form-label fw-medium fs-7 col-lg-3">Email</label>
                        <div class="col-lg-9">
                            <input placeholder="Email" type="email" class="form-control is-invalid" id="emailInput">
                        </div>
                        <span class="offset-lg-3 col-lg-9 mt-1 fs-7 text-danger">
                            Email non valide
                        </span>
                    </div>
                    <div class="row align-items-center mb-3">
                        <label for="currentPasswordInput" class="form-label fw-medium fs-7 col-lg-3">Mot de passe
                            actuel</label>
                        <div class="col-lg-9">
                            <input placeholder="Mot de passe actuel" type="password" class="form-control"
                                id="currentPasswordInput">
                        </div>
                        <span class="d-none offset-lg-3 col-lg-9 mt-1 fs-7 text-danger">
                            Mot de passe errone
                        </span>
                    </div>
                    <div class="row align-items-center mb-3">
                        <label for="passwordInput" class="form-label fw-medium fs-7 col-lg-3">Nouveau mot de
                            passe</label>
                        <div class="col-lg-9">
                            <input placeholder="Nouveau mot de passe" type="password" class="form-control"
                                id="passwordInput">
                        </div>
                        <span class="d-none offset-lg-3 col-lg-9 mt-1 fs-7 text-danger">
                            Mot de passe faible
                        </span>
                    </div>
                    <div class="row align-items-center mb-3">
                        <label for="confirmPasswordInput" class="form-label fw-medium fs-7 col-lg-3">Confirmer nouveau
                            mot de passe
                        </label>
                        <div class="col-lg-9">
                            <input placeholder="Confirmer nouveau mot de passe" type="password" class="form-control"
                                id="confirmPasswordInput">
                        </div>
                        <span class="d-none offset-lg-3 col-lg-9 mt-1 fs-7 text-danger">
                            Mot de passe non identique
                        </span>
                    </div>

                    <div class="mt-5">
                        <button type="submit" class="btn btn-cta btn-accent">Mettre à jour</button>
                        <a href="/profile" class="btn btn-cta">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
        <%- include('../../components/footer'); -%>
            <%- include('../base/base-tail'); -%>