<%- include('../base/base-head'); -%>
    <%- include('../../components/navbar'); -%>
        <!-- The desired model to show Ads. Cards, one under the other, just like leboncoin.com -->
        <!-- Added pagination -->
        <div class="ads p-md-5 p-3 m-0 row">
            <div class="top-nav row">
                <div class="col-12 col-md-4">
                    <div class="d-flex flex-column align-items-center align-items-md-start">
                        <h5 class="fw-semibold">Annonces</h5>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="fw-semibold fs-8 link-accent text-muted-lg"
                                        href="/">Acceuil</a></li>
                                <li class="breadcrumb-item active text-align-bottom" aria-current="page">
                                    <span class="fs-8">Annonces</span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="d-none col-12 col-md-8 my-3 my-md-0">
                    <nav class="d-flex justify-content-center justify-content-md-end">
                        <a class="btn btn-cta btn-link me-1 active" href="/info">General</a>
                        <a class="btn btn-cta btn-link me-1" href="/profile">Compte</a>
                        <a class="btn btn-cta btn-link me-1" href="/myads">Mes Annonces</a>
                    </nav>
                </div>
            </div>

            <div class="content mt-5">
                <div class="card rounded-lg shadow-sm col col-12 col-md-11 col-lg-8 m-0 mb-3 p-0" style="">
                    <a href="/" class="link-container">
                        <div class="row g-0">
                            <div class="col-12 col-md-5 p-3" style="max-height: 300px;">
                                <img src="/assets/images/car1.jpg"
                                    class="img-fluid w-100 h-100 obj-fit-cover rounded-lg" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body h-100">
                                    <div class="d-flex flex-column h-100 justify-content-between">
                                        <div class="top-content">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="fs-7 fw-bold text-muted">2009</h6>
                                                <h6 class="fs-8 text-muted">
                                                    <span class="pe-1">
                                                        1025
                                                    </span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                        role="img" class="iconify iconify--ic" width="16" height="16"
                                                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                        <path
                                                            d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3s3-1.34 3-3s-1.34-3-3-3z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </h6>
                                            </div>
                                            <h4 class="card-title fw-bold">Ibiza FFR</h4>
                                            <h6 class="fs fw-bold text-accent">DA 240.000</h6>
                                            <h6 class="mt-3 text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--carbon" width="18" height="18"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                                    <defs></defs>
                                                    <path
                                                        d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2zm0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4z"
                                                        fill="currentColor"></path>
                                                    <circle id="IconifyId-17e6efaf9ae-dc796e-18" cx="16" cy="13" r="4"
                                                        fill="none"></circle>
                                                </svg>
                                                <span class="fw-medium align-text-bottom">Oran</span>
                                            </h6>
                                            <hr>
                                            <div class="details row">
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--whh" width="35" height="25"
                                                                preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 1024 741">
                                                                <path
                                                                    d="M421.5 602.5Q384 565 384 512t38-91L966 59L603 603q-37 37-90.5 37t-91-37.5zM512 62q-91 0-174.5 36T194 194T98.5 337T63 511q0 106 48 202l-56 28Q0 632 0 512q0-105 40.5-199.5t109-163T313 40.5T512 0q161 0 293 92l-57 38Q639 62 512 62zm421 158q91 132 91 292q0 120-55 229l-56-29q48-95 48-201q0-125-66-234z"
                                                                    fill=""></path>
                                                            </svg>
                                                        </h6>
                                                        <span class="pt-1 fs-8 fw-medium">106km</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--icon-park-outline" width="27"
                                                                height="27" preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 48 48">
                                                                <g fill="none" stroke="black" stroke-width="3"
                                                                    stroke-linecap="round" stroke-linejoin="round">
                                                                    <path d="M40 12v12H8"></path>
                                                                    <path d="M24 12v24"></path>
                                                                    <path d="M8 12v24"></path>
                                                                    <path d="M44 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M12 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <path d="M12 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <circle cx="40" cy="40" r="4"></circle>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Manuelle</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--fluent" width="28" height="28"
                                                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                                <g fill="none">
                                                                    <path
                                                                        d="M8.22 10.22a.75.75 0 0 1 1.06 0L12 12.94l2.72-2.72a.75.75 0 1 1 1.06 1.06L13.06 14l.47.469l2 2l.001.002l.25.249a.75.75 0 1 1-1.061 1.06l-.25-.249l-2-2l-.47-.47l-2.72 2.72a.75.75 0 0 1-1.06-1.061L10.94 14l-2.72-2.72a.75.75 0 0 1 0-1.06zM13.75 2a.75.75 0 0 0-.605.306L10.437 6H9v-.25A3.25 3.25 0 0 0 5.75 2.5h-1a.75.75 0 0 0 0 1.5h1c.966 0 1.75.784 1.75 1.75V6h-.75A2.75 2.75 0 0 0 4 8.75v10.5A2.75 2.75 0 0 0 6.75 22h10.5A2.75 2.75 0 0 0 20 19.25V8.75c0-.858-.393-1.625-1.01-2.13c.007-.039.01-.079.01-.12V2.75a.75.75 0 0 0-.75-.75h-4.5zm3.75 4.011A2.784 2.784 0 0 0 17.25 6h-4.953l1.833-2.5h3.37v2.511zM6.75 7.5h10.5c.69 0 1.25.56 1.25 1.25v10.5c0 .69-.56 1.25-1.25 1.25H6.75c-.69 0-1.25-.56-1.25-1.25V8.75c0-.69.56-1.25 1.25-1.25z"
                                                                        fill="black"></path>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Gas</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="details d-none">
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">2017</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">103.000
                                                    KM</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">Essence</span>
                                                <span class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">B.V.
                                                    Manuelle</span>
                                            </div>
                                        </div>
                                        <div class="bottom-content d-none justify-content-between mt-5">
                                            <p class="card-text"><small class="text-muted">7h</small></p>
                                            <button class="btn p-0">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--ic" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path
                                                        d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3l7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--mdi" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path d="M17 3H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2z"
                                                        fill="currentColor">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--flat-color-icons" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path fill="#F44336"
                                                        d="M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12z">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--icon-park-outline" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path
                                                        d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z"
                                                        stroke="currentColor" stroke-width="4" stroke-linecap="round"
                                                        stroke-linejoin="round" fill="none"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--whh" width="28" height="27"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 960">
                                                    <path
                                                        d="M928 960H576l-64-64H320v64H0V384h320v64h64l96-96L640 0h192v160l-64 96v64h160l96 64v512zM256 448H64v448h192V448zm704-21l-64-43H704V224l64-96V64h-79L544 384L416 512h-96v320h224l64 64h288l64-43V427z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--fontisto" width="29" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 27 24">
                                                    <path
                                                        d="M1.547 24a.33.33 0 0 1-.327-.295v-.001L0 11.336l-.001-.031c0-.182.147-.329.329-.329h8.233v13.025zm3.36-3.265v.001a1.301 1.301 0 1 0 1.301-1.301h-.002c-.719 0-1.301.582-1.302 1.301zm.48-8c0 .181.147.328.329.328h.764a.328.328 0 0 0 0-.656h-.77a.329.329 0 0 0-.329.329v.003zm-3.61 0c0 .181.147.328.328.328H4.61a.328.328 0 0 0 0-.656H2.099a.328.328 0 0 0-.328.328v.003zm9.8 9.388a1.886 1.886 0 0 1-.494-.253l.006.004l-.1-.063a20.97 20.97 0 0 1-.69-.452l-.101-.071c-.132-.095-.194-.137-.262-.133c-.24.005-.48.007-.72.01V12.01l-.013-.77c.451-.287.867-.56.992-.664c.17-.342.338-.628.524-.902l-.017.027c.085-.133.17-.265.248-.396l1.724-2.894c.08-.136.167-.272.254-.408c.145-.216.299-.474.44-.74l.024-.049a.879.879 0 0 0 .079-.521l.001.005l-.006-3.12c.063-.454.319-.838.68-1.072l.006-.004a1.97 1.97 0 0 1 1.162-.5h.007l.063-.001c.341 0 .663.081.949.224l-.012-.006c.191.092.354.19.507.3l-.01-.007l.106.07c.241.127.421.341.501.6l.002.007c.187.696.358 1.329.517 1.964l.066.259c.101.34.188.751.244 1.172l.005.042c-.171 1.574-.5 3.01-.976 4.378l.042-.138l7.693-.011h.028a1.643 1.643 0 0 1 1.63 1.848l.001-.008a1.982 1.982 0 0 1-.894 1.781l-.008.005a2.171 2.171 0 0 1 .372 1.4v-.007a1.848 1.848 0 0 1-1.137 1.873l-.012.004a2.375 2.375 0 0 1 .299 1.31v-.006a1.905 1.905 0 0 1-.886 1.733l-.008.005a2.791 2.791 0 0 1 .224 1.459l.001-.013v.188a1.834 1.834 0 0 1-2.007 1.719l.007.001h-4.429l-.015.001l-.016-.001h.001h-5.91c-.051 0-.104 0-.16.008c-.068.004-.14.01-.214.01h-.015a1.13 1.13 0 0 1-.299-.04l.008.002zm-6.015-1.387a.64.64 0 1 1 1.281.001a.64.64 0 0 1-1.281-.001z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card rounded-lg shadow-sm col col-12 col-md-11 col-lg-8 m-0 mb-3 p-0" style="">
                    <a href="/" class="link-container">
                        <div class="row g-0">
                            <div class="col-12 col-md-5 p-3" style="max-height: 300px;">
                                <img src="/assets/images/car1.jpg"
                                    class="img-fluid w-100 h-100 obj-fit-cover rounded-lg" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body h-100">
                                    <div class="d-flex flex-column h-100 justify-content-between">
                                        <div class="top-content">
                                            <h6 class="fs-7 fw-bold text-muted">2009</h6>
                                            <h4 class="card-title fw-bold">Ibiza FFR</h4>
                                            <h6 class="fs fw-bold text-accent">DA 240.000</h6>
                                            <h6 class="mt-3 text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--carbon" width="18" height="18"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                                    <defs></defs>
                                                    <path
                                                        d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2zm0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4z"
                                                        fill="currentColor"></path>
                                                    <circle id="IconifyId-17e6efaf9ae-dc796e-18" cx="16" cy="13" r="4"
                                                        fill="none"></circle>
                                                </svg>
                                                <span class="fw-medium align-text-bottom">Oran</span>
                                            </h6>
                                            <hr>
                                            <div class="details row">
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--whh" width="35" height="25"
                                                                preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 1024 741">
                                                                <path
                                                                    d="M421.5 602.5Q384 565 384 512t38-91L966 59L603 603q-37 37-90.5 37t-91-37.5zM512 62q-91 0-174.5 36T194 194T98.5 337T63 511q0 106 48 202l-56 28Q0 632 0 512q0-105 40.5-199.5t109-163T313 40.5T512 0q161 0 293 92l-57 38Q639 62 512 62zm421 158q91 132 91 292q0 120-55 229l-56-29q48-95 48-201q0-125-66-234z"
                                                                    fill=""></path>
                                                            </svg>
                                                        </h6>
                                                        <span class="pt-1 fs-8 fw-medium">106km</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--icon-park-outline" width="27"
                                                                height="27" preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 48 48">
                                                                <g fill="none" stroke="black" stroke-width="3"
                                                                    stroke-linecap="round" stroke-linejoin="round">
                                                                    <path d="M40 12v12H8"></path>
                                                                    <path d="M24 12v24"></path>
                                                                    <path d="M8 12v24"></path>
                                                                    <path d="M44 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M12 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <path d="M12 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <circle cx="40" cy="40" r="4"></circle>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Manuelle</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--fluent" width="28" height="28"
                                                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                                <g fill="none">
                                                                    <path
                                                                        d="M8.22 10.22a.75.75 0 0 1 1.06 0L12 12.94l2.72-2.72a.75.75 0 1 1 1.06 1.06L13.06 14l.47.469l2 2l.001.002l.25.249a.75.75 0 1 1-1.061 1.06l-.25-.249l-2-2l-.47-.47l-2.72 2.72a.75.75 0 0 1-1.06-1.061L10.94 14l-2.72-2.72a.75.75 0 0 1 0-1.06zM13.75 2a.75.75 0 0 0-.605.306L10.437 6H9v-.25A3.25 3.25 0 0 0 5.75 2.5h-1a.75.75 0 0 0 0 1.5h1c.966 0 1.75.784 1.75 1.75V6h-.75A2.75 2.75 0 0 0 4 8.75v10.5A2.75 2.75 0 0 0 6.75 22h10.5A2.75 2.75 0 0 0 20 19.25V8.75c0-.858-.393-1.625-1.01-2.13c.007-.039.01-.079.01-.12V2.75a.75.75 0 0 0-.75-.75h-4.5zm3.75 4.011A2.784 2.784 0 0 0 17.25 6h-4.953l1.833-2.5h3.37v2.511zM6.75 7.5h10.5c.69 0 1.25.56 1.25 1.25v10.5c0 .69-.56 1.25-1.25 1.25H6.75c-.69 0-1.25-.56-1.25-1.25V8.75c0-.69.56-1.25 1.25-1.25z"
                                                                        fill="black"></path>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Gas</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="details d-none">
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">2017</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">103.000
                                                    KM</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">Essence</span>
                                                <span class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">B.V.
                                                    Manuelle</span>
                                            </div>
                                        </div>
                                        <div class="bottom-content d-none justify-content-between mt-5">
                                            <p class="card-text"><small class="text-muted">7h</small></p>
                                            <button class="btn p-0">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--ic" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path
                                                        d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3l7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--mdi" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path d="M17 3H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2z"
                                                        fill="currentColor">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--flat-color-icons" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path fill="#F44336"
                                                        d="M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12z">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--icon-park-outline" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path
                                                        d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z"
                                                        stroke="currentColor" stroke-width="4" stroke-linecap="round"
                                                        stroke-linejoin="round" fill="none"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--whh" width="28" height="27"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 960">
                                                    <path
                                                        d="M928 960H576l-64-64H320v64H0V384h320v64h64l96-96L640 0h192v160l-64 96v64h160l96 64v512zM256 448H64v448h192V448zm704-21l-64-43H704V224l64-96V64h-79L544 384L416 512h-96v320h224l64 64h288l64-43V427z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--fontisto" width="29" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 27 24">
                                                    <path
                                                        d="M1.547 24a.33.33 0 0 1-.327-.295v-.001L0 11.336l-.001-.031c0-.182.147-.329.329-.329h8.233v13.025zm3.36-3.265v.001a1.301 1.301 0 1 0 1.301-1.301h-.002c-.719 0-1.301.582-1.302 1.301zm.48-8c0 .181.147.328.329.328h.764a.328.328 0 0 0 0-.656h-.77a.329.329 0 0 0-.329.329v.003zm-3.61 0c0 .181.147.328.328.328H4.61a.328.328 0 0 0 0-.656H2.099a.328.328 0 0 0-.328.328v.003zm9.8 9.388a1.886 1.886 0 0 1-.494-.253l.006.004l-.1-.063a20.97 20.97 0 0 1-.69-.452l-.101-.071c-.132-.095-.194-.137-.262-.133c-.24.005-.48.007-.72.01V12.01l-.013-.77c.451-.287.867-.56.992-.664c.17-.342.338-.628.524-.902l-.017.027c.085-.133.17-.265.248-.396l1.724-2.894c.08-.136.167-.272.254-.408c.145-.216.299-.474.44-.74l.024-.049a.879.879 0 0 0 .079-.521l.001.005l-.006-3.12c.063-.454.319-.838.68-1.072l.006-.004a1.97 1.97 0 0 1 1.162-.5h.007l.063-.001c.341 0 .663.081.949.224l-.012-.006c.191.092.354.19.507.3l-.01-.007l.106.07c.241.127.421.341.501.6l.002.007c.187.696.358 1.329.517 1.964l.066.259c.101.34.188.751.244 1.172l.005.042c-.171 1.574-.5 3.01-.976 4.378l.042-.138l7.693-.011h.028a1.643 1.643 0 0 1 1.63 1.848l.001-.008a1.982 1.982 0 0 1-.894 1.781l-.008.005a2.171 2.171 0 0 1 .372 1.4v-.007a1.848 1.848 0 0 1-1.137 1.873l-.012.004a2.375 2.375 0 0 1 .299 1.31v-.006a1.905 1.905 0 0 1-.886 1.733l-.008.005a2.791 2.791 0 0 1 .224 1.459l.001-.013v.188a1.834 1.834 0 0 1-2.007 1.719l.007.001h-4.429l-.015.001l-.016-.001h.001h-5.91c-.051 0-.104 0-.16.008c-.068.004-.14.01-.214.01h-.015a1.13 1.13 0 0 1-.299-.04l.008.002zm-6.015-1.387a.64.64 0 1 1 1.281.001a.64.64 0 0 1-1.281-.001z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card rounded-lg shadow-sm col col-12 col-md-11 col-lg-8 m-0 mb-3 p-0" style="">
                    <a href="/" class="link-container">
                        <div class="row g-0">
                            <div class="col-12 col-md-5 p-3" style="max-height: 300px;">
                                <img src="/assets/images/car1.jpg"
                                    class="img-fluid w-100 h-100 obj-fit-cover rounded-lg" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body h-100">
                                    <div class="d-flex flex-column h-100 justify-content-between">
                                        <div class="top-content">
                                            <h6 class="fs-7 fw-bold text-muted">2009</h6>
                                            <h4 class="card-title fw-bold">Ibiza FFR</h4>
                                            <h6 class="fs fw-bold text-accent">DA 240.000</h6>
                                            <h6 class="mt-3 text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--carbon" width="18" height="18"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                                    <defs></defs>
                                                    <path
                                                        d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2zm0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4z"
                                                        fill="currentColor"></path>
                                                    <circle id="IconifyId-17e6efaf9ae-dc796e-18" cx="16" cy="13" r="4"
                                                        fill="none"></circle>
                                                </svg>
                                                <span class="fw-medium align-text-bottom">Oran</span>
                                            </h6>
                                            <hr>
                                            <div class="details row">
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--whh" width="35" height="25"
                                                                preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 1024 741">
                                                                <path
                                                                    d="M421.5 602.5Q384 565 384 512t38-91L966 59L603 603q-37 37-90.5 37t-91-37.5zM512 62q-91 0-174.5 36T194 194T98.5 337T63 511q0 106 48 202l-56 28Q0 632 0 512q0-105 40.5-199.5t109-163T313 40.5T512 0q161 0 293 92l-57 38Q639 62 512 62zm421 158q91 132 91 292q0 120-55 229l-56-29q48-95 48-201q0-125-66-234z"
                                                                    fill=""></path>
                                                            </svg>
                                                        </h6>
                                                        <span class="pt-1 fs-8 fw-medium">106km</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--icon-park-outline" width="27"
                                                                height="27" preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 48 48">
                                                                <g fill="none" stroke="black" stroke-width="3"
                                                                    stroke-linecap="round" stroke-linejoin="round">
                                                                    <path d="M40 12v12H8"></path>
                                                                    <path d="M24 12v24"></path>
                                                                    <path d="M8 12v24"></path>
                                                                    <path d="M44 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M12 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <path d="M12 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <circle cx="40" cy="40" r="4"></circle>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Manuelle</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--fluent" width="28" height="28"
                                                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                                <g fill="none">
                                                                    <path
                                                                        d="M8.22 10.22a.75.75 0 0 1 1.06 0L12 12.94l2.72-2.72a.75.75 0 1 1 1.06 1.06L13.06 14l.47.469l2 2l.001.002l.25.249a.75.75 0 1 1-1.061 1.06l-.25-.249l-2-2l-.47-.47l-2.72 2.72a.75.75 0 0 1-1.06-1.061L10.94 14l-2.72-2.72a.75.75 0 0 1 0-1.06zM13.75 2a.75.75 0 0 0-.605.306L10.437 6H9v-.25A3.25 3.25 0 0 0 5.75 2.5h-1a.75.75 0 0 0 0 1.5h1c.966 0 1.75.784 1.75 1.75V6h-.75A2.75 2.75 0 0 0 4 8.75v10.5A2.75 2.75 0 0 0 6.75 22h10.5A2.75 2.75 0 0 0 20 19.25V8.75c0-.858-.393-1.625-1.01-2.13c.007-.039.01-.079.01-.12V2.75a.75.75 0 0 0-.75-.75h-4.5zm3.75 4.011A2.784 2.784 0 0 0 17.25 6h-4.953l1.833-2.5h3.37v2.511zM6.75 7.5h10.5c.69 0 1.25.56 1.25 1.25v10.5c0 .69-.56 1.25-1.25 1.25H6.75c-.69 0-1.25-.56-1.25-1.25V8.75c0-.69.56-1.25 1.25-1.25z"
                                                                        fill="black"></path>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Gas</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="details d-none">
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">2017</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">103.000
                                                    KM</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">Essence</span>
                                                <span class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">B.V.
                                                    Manuelle</span>
                                            </div>
                                        </div>
                                        <div class="bottom-content d-none justify-content-between mt-5">
                                            <p class="card-text"><small class="text-muted">7h</small></p>
                                            <button class="btn p-0">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--ic" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path
                                                        d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3l7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--mdi" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path d="M17 3H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2z"
                                                        fill="currentColor">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--flat-color-icons" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path fill="#F44336"
                                                        d="M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12z">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--icon-park-outline" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path
                                                        d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z"
                                                        stroke="currentColor" stroke-width="4" stroke-linecap="round"
                                                        stroke-linejoin="round" fill="none"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--whh" width="28" height="27"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 960">
                                                    <path
                                                        d="M928 960H576l-64-64H320v64H0V384h320v64h64l96-96L640 0h192v160l-64 96v64h160l96 64v512zM256 448H64v448h192V448zm704-21l-64-43H704V224l64-96V64h-79L544 384L416 512h-96v320h224l64 64h288l64-43V427z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--fontisto" width="29" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 27 24">
                                                    <path
                                                        d="M1.547 24a.33.33 0 0 1-.327-.295v-.001L0 11.336l-.001-.031c0-.182.147-.329.329-.329h8.233v13.025zm3.36-3.265v.001a1.301 1.301 0 1 0 1.301-1.301h-.002c-.719 0-1.301.582-1.302 1.301zm.48-8c0 .181.147.328.329.328h.764a.328.328 0 0 0 0-.656h-.77a.329.329 0 0 0-.329.329v.003zm-3.61 0c0 .181.147.328.328.328H4.61a.328.328 0 0 0 0-.656H2.099a.328.328 0 0 0-.328.328v.003zm9.8 9.388a1.886 1.886 0 0 1-.494-.253l.006.004l-.1-.063a20.97 20.97 0 0 1-.69-.452l-.101-.071c-.132-.095-.194-.137-.262-.133c-.24.005-.48.007-.72.01V12.01l-.013-.77c.451-.287.867-.56.992-.664c.17-.342.338-.628.524-.902l-.017.027c.085-.133.17-.265.248-.396l1.724-2.894c.08-.136.167-.272.254-.408c.145-.216.299-.474.44-.74l.024-.049a.879.879 0 0 0 .079-.521l.001.005l-.006-3.12c.063-.454.319-.838.68-1.072l.006-.004a1.97 1.97 0 0 1 1.162-.5h.007l.063-.001c.341 0 .663.081.949.224l-.012-.006c.191.092.354.19.507.3l-.01-.007l.106.07c.241.127.421.341.501.6l.002.007c.187.696.358 1.329.517 1.964l.066.259c.101.34.188.751.244 1.172l.005.042c-.171 1.574-.5 3.01-.976 4.378l.042-.138l7.693-.011h.028a1.643 1.643 0 0 1 1.63 1.848l.001-.008a1.982 1.982 0 0 1-.894 1.781l-.008.005a2.171 2.171 0 0 1 .372 1.4v-.007a1.848 1.848 0 0 1-1.137 1.873l-.012.004a2.375 2.375 0 0 1 .299 1.31v-.006a1.905 1.905 0 0 1-.886 1.733l-.008.005a2.791 2.791 0 0 1 .224 1.459l.001-.013v.188a1.834 1.834 0 0 1-2.007 1.719l.007.001h-4.429l-.015.001l-.016-.001h.001h-5.91c-.051 0-.104 0-.16.008c-.068.004-.14.01-.214.01h-.015a1.13 1.13 0 0 1-.299-.04l.008.002zm-6.015-1.387a.64.64 0 1 1 1.281.001a.64.64 0 0 1-1.281-.001z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card rounded-lg shadow-sm col col-12 col-md-11 col-lg-8 m-0 mb-3 p-0" style="">
                    <a href="/" class="link-container">
                        <div class="row g-0">
                            <div class="col-12 col-md-5 p-3" style="max-height: 300px;">
                                <img src="/assets/images/car1.jpg"
                                    class="img-fluid w-100 h-100 obj-fit-cover rounded-lg" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body h-100">
                                    <div class="d-flex flex-column h-100 justify-content-between">
                                        <div class="top-content">
                                            <h6 class="fs-7 fw-bold text-muted">2009</h6>
                                            <h4 class="card-title fw-bold">Ibiza FFR</h4>
                                            <h6 class="fs fw-bold text-accent">DA 240.000</h6>
                                            <h6 class="mt-3 text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--carbon" width="18" height="18"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                                    <defs></defs>
                                                    <path
                                                        d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2zm0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4z"
                                                        fill="currentColor"></path>
                                                    <circle id="IconifyId-17e6efaf9ae-dc796e-18" cx="16" cy="13" r="4"
                                                        fill="none"></circle>
                                                </svg>
                                                <span class="fw-medium align-text-bottom">Oran</span>
                                            </h6>
                                            <hr>
                                            <div class="details row">
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--whh" width="35" height="25"
                                                                preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 1024 741">
                                                                <path
                                                                    d="M421.5 602.5Q384 565 384 512t38-91L966 59L603 603q-37 37-90.5 37t-91-37.5zM512 62q-91 0-174.5 36T194 194T98.5 337T63 511q0 106 48 202l-56 28Q0 632 0 512q0-105 40.5-199.5t109-163T313 40.5T512 0q161 0 293 92l-57 38Q639 62 512 62zm421 158q91 132 91 292q0 120-55 229l-56-29q48-95 48-201q0-125-66-234z"
                                                                    fill=""></path>
                                                            </svg>
                                                        </h6>
                                                        <span class="pt-1 fs-8 fw-medium">106km</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--icon-park-outline" width="27"
                                                                height="27" preserveAspectRatio="xMidYMid meet"
                                                                viewBox="0 0 48 48">
                                                                <g fill="none" stroke="black" stroke-width="3"
                                                                    stroke-linecap="round" stroke-linejoin="round">
                                                                    <path d="M40 12v12H8"></path>
                                                                    <path d="M24 12v24"></path>
                                                                    <path d="M8 12v24"></path>
                                                                    <path d="M44 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M12 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0z"></path>
                                                                    <path d="M28 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <path d="M12 40a4 4 0 1 1-8 0a4 4 0 0 1 8 0z">
                                                                    </path>
                                                                    <circle cx="40" cy="40" r="4"></circle>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Manuelle</span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div
                                                        class="rounded-lg shadow-sm bg-dark-15 d-flex flex-column justify-content-between align-items-center p-3">
                                                        <h6>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                aria-hidden="true" role="img"
                                                                class="iconify iconify--fluent" width="28" height="28"
                                                                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                                <g fill="none">
                                                                    <path
                                                                        d="M8.22 10.22a.75.75 0 0 1 1.06 0L12 12.94l2.72-2.72a.75.75 0 1 1 1.06 1.06L13.06 14l.47.469l2 2l.001.002l.25.249a.75.75 0 1 1-1.061 1.06l-.25-.249l-2-2l-.47-.47l-2.72 2.72a.75.75 0 0 1-1.06-1.061L10.94 14l-2.72-2.72a.75.75 0 0 1 0-1.06zM13.75 2a.75.75 0 0 0-.605.306L10.437 6H9v-.25A3.25 3.25 0 0 0 5.75 2.5h-1a.75.75 0 0 0 0 1.5h1c.966 0 1.75.784 1.75 1.75V6h-.75A2.75 2.75 0 0 0 4 8.75v10.5A2.75 2.75 0 0 0 6.75 22h10.5A2.75 2.75 0 0 0 20 19.25V8.75c0-.858-.393-1.625-1.01-2.13c.007-.039.01-.079.01-.12V2.75a.75.75 0 0 0-.75-.75h-4.5zm3.75 4.011A2.784 2.784 0 0 0 17.25 6h-4.953l1.833-2.5h3.37v2.511zM6.75 7.5h10.5c.69 0 1.25.56 1.25 1.25v10.5c0 .69-.56 1.25-1.25 1.25H6.75c-.69 0-1.25-.56-1.25-1.25V8.75c0-.69.56-1.25 1.25-1.25z"
                                                                        fill="black"></path>
                                                                </g>
                                                            </svg>
                                                        </h6>
                                                        <span class="fs-8 fw-medium">Gas</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="details d-none">
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">2017</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">103.000
                                                    KM</span>
                                                <span
                                                    class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">Essence</span>
                                                <span class="badge mb-1 rounded-pill bg-semilight fs-7 text-dark">B.V.
                                                    Manuelle</span>
                                            </div>
                                        </div>
                                        <div class="bottom-content d-none justify-content-between mt-5">
                                            <p class="card-text"><small class="text-muted">7h</small></p>
                                            <button class="btn p-0">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--ic" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path
                                                        d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3l7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--mdi" width="28" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                                    <path d="M17 3H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2z"
                                                        fill="currentColor">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--flat-color-icons" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path fill="#F44336"
                                                        d="M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12z">
                                                    </path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--icon-park-outline" width="28"
                                                    height="28" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
                                                    <path
                                                        d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8z"
                                                        stroke="currentColor" stroke-width="4" stroke-linecap="round"
                                                        stroke-linejoin="round" fill="none"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--whh" width="28" height="27"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 960">
                                                    <path
                                                        d="M928 960H576l-64-64H320v64H0V384h320v64h64l96-96L640 0h192v160l-64 96v64h160l96 64v512zM256 448H64v448h192V448zm704-21l-64-43H704V224l64-96V64h-79L544 384L416 512h-96v320h224l64 64h288l64-43V427z"
                                                        fill="currentColor"></path>
                                                </svg>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                                    role="img" class="iconify iconify--fontisto" width="29" height="28"
                                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 27 24">
                                                    <path
                                                        d="M1.547 24a.33.33 0 0 1-.327-.295v-.001L0 11.336l-.001-.031c0-.182.147-.329.329-.329h8.233v13.025zm3.36-3.265v.001a1.301 1.301 0 1 0 1.301-1.301h-.002c-.719 0-1.301.582-1.302 1.301zm.48-8c0 .181.147.328.329.328h.764a.328.328 0 0 0 0-.656h-.77a.329.329 0 0 0-.329.329v.003zm-3.61 0c0 .181.147.328.328.328H4.61a.328.328 0 0 0 0-.656H2.099a.328.328 0 0 0-.328.328v.003zm9.8 9.388a1.886 1.886 0 0 1-.494-.253l.006.004l-.1-.063a20.97 20.97 0 0 1-.69-.452l-.101-.071c-.132-.095-.194-.137-.262-.133c-.24.005-.48.007-.72.01V12.01l-.013-.77c.451-.287.867-.56.992-.664c.17-.342.338-.628.524-.902l-.017.027c.085-.133.17-.265.248-.396l1.724-2.894c.08-.136.167-.272.254-.408c.145-.216.299-.474.44-.74l.024-.049a.879.879 0 0 0 .079-.521l.001.005l-.006-3.12c.063-.454.319-.838.68-1.072l.006-.004a1.97 1.97 0 0 1 1.162-.5h.007l.063-.001c.341 0 .663.081.949.224l-.012-.006c.191.092.354.19.507.3l-.01-.007l.106.07c.241.127.421.341.501.6l.002.007c.187.696.358 1.329.517 1.964l.066.259c.101.34.188.751.244 1.172l.005.042c-.171 1.574-.5 3.01-.976 4.378l.042-.138l7.693-.011h.028a1.643 1.643 0 0 1 1.63 1.848l.001-.008a1.982 1.982 0 0 1-.894 1.781l-.008.005a2.171 2.171 0 0 1 .372 1.4v-.007a1.848 1.848 0 0 1-1.137 1.873l-.012.004a2.375 2.375 0 0 1 .299 1.31v-.006a1.905 1.905 0 0 1-.886 1.733l-.008.005a2.791 2.791 0 0 1 .224 1.459l.001-.013v.188a1.834 1.834 0 0 1-2.007 1.719l.007.001h-4.429l-.015.001l-.016-.001h.001h-5.91c-.051 0-.104 0-.16.008c-.068.004-.14.01-.214.01h-.015a1.13 1.13 0 0 1-.299-.04l.008.002zm-6.015-1.387a.64.64 0 1 1 1.281.001a.64.64 0 0 1-1.281-.001z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- MASONRY a working example TODO: fix spacing margin/padding on row/col etc. -->
        <!-- Pagination would then be dynamic. Add more content on scroll -->
        <div class="ads d-none p-5 row" data-masonry='{"percentPosition": true}'>
            <div class="card col-12 col-md-4 col-lg-3 m-0 m-sm-3 p-0" style="">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/150"
                            class="img-fluid w-100 h-100 obj-fit-cover rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-4 col-lg-3 m-0 m-sm-3 p-0" style="">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/150"
                            class="img-fluid w-100 h-100 obj-fit-cover rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-4 col-lg-3 m-0 m-sm-3 p-0" style="">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/150"
                            class="img-fluid w-100 h-100 obj-fit-cover rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Another model to show Ads -->
        <div class="ads d-none flex-column flex-lg-row flex-lg-wrap flex-md-nowrap p-5">
            <div class="card m-0 mb-3 m-sm-3 " style="flex: 0 0 45%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/150"
                            class="img-fluid w-100 h-100 obj-fit-cover rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../../components/footer'); -%>
            <%- include('../base/base-tail'); -%>