<%- include('../base/base-head'); -%>
<%- include('../../components/navbar'); -%>
<div class="d-noneee p-5">
    USER
</div>
<%- include('../../components/footer'); -%>
<%- include('../base/base-tail'); -%>